@import '_mixins';
@import '_vars';

$size-sm: 14px;
$size-md: 22px;

.color-picker {
    &-colors {
        @include clearfix;
        max-width: 210px;
        min-width: 210px;

        .color-picker-color {
            margin-right: .25rem;
            @include circle($size-md);
        }
    }

    &-color {
        vertical-align: -2px;
        @include circle($size-sm);
        cursor: pointer;
        display: inline-block;
        border: 2px solid #fff;
        background: $color-dark-foreground;

        &.rect {
            @include border-radius(0);
            background: transparent;
            border-color: transparent;
            float: none;
        }

        &:hover {
            border-color: $color-border-dark;
        }

        &.selected {
            border-color: $color-theme-blue;
        }
    }
}

.sketch-picker {
    @include box-shadow-none;
    padding: 0 !important;
    background: 'none' !important;
    border: 0 !important;
    border-radius: 0 !important;
}

span {
    &.color-picker-button {
        padding: 0 !important;
    }
}