@import '_mixins';
@import '_vars';

.app-name {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    background: rgb(255, 255, 255);
    padding: .5rem 1.5rem .5rem 1rem;
    border-radius: 8px;

    .mini-sticky {
        position: absolute;
        left: 135px;
        top: 35px;
        width: 8px;
        height: 8px;
        background-color: $color-theme-purple;
        transform: rotate(-10deg);
    }

    .mini-sticky + .mini-sticky {
        left: 20px;
        top: 45px;
        background-color: $color-theme-sticky;
        transform: rotate(-2deg);
    }

    .mini-sticky + .mini-sticky + .mini-sticky {
        left: 115px;
        top: 10px;
        border-radius: 50%;
        background-color: $color-theme-cyan;
        transform: rotate(-2deg);
    }
}

